$bg1: #020617;
$bg2: #041e2b;
$neon: #00f5ff;
$text: #e5e7eb;

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(90deg, #020617, #041e2b);
}

/* 💎 CARD */
.card {
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(10, 20, 30, 0.9);
  position: relative;

  /* línea neon lateral */
  border-left: 3px solid $neon;

  box-shadow: 0 0 40px rgba(0, 245, 255, 0.1);
}

/* icono */
.icon {
  width: 25px;
  height: 25px;
  background: $neon;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  margin-bottom: 15px;
}

/* títulos */
h1 {
  color: $text;
  font-size: 28px;
  letter-spacing: 2px;
}

.subtitle {
  color: $neon;
  font-size: 11px;
  margin-bottom: 25px;
}

/* labels */
label {
  font-size: 12px;
  color: #9ca3af;
  display: block;
  margin-bottom: 5px;
}

/* inputs */
.input {
  margin-bottom: 18px;
  position: relative;

  input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #1f2937;
    background: transparent;
    color: white;
    outline: none;

    &:focus {
      border-color: $neon;
      box-shadow: 0 0 8px $neon;
    }
  }
}

/* password */
.password span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

/* botón */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid $neon;
  color: $neon;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: $neon;
    color: black;
    box-shadow: 0 0 20px $neon;
  }
}

/* error */
.error {
  color: #ef4444;
  font-size: 12px;
  margin-bottom: 10px;
}