<section class="hero">

  <div class="energy-bg"></div>

  <div class="hero-container">

    <div class="hero-text">

      <h1>
        Energía Inteligente <br>
        para un <span>Futuro Sostenible</span>
      </h1>

      <p>
        Plataforma inteligente para monitorear, calcular
        y optimizar sistemas de energía solar en tiempo real.
      </p>

      <div class="hero-buttons">
        <button class="btn-main">Explorar</button>
        <button class="btn-outline">Contactar</button>
      </div>

    </div>

    <div class="hero-card">

      <div class="glass-card">
        <img src="assets/solarfish-logo.png" alt="SolarFish">

        <h3>SolarFish</h3>
        <p>Energía renovable inteligente</p>
      </div>

    </div>

  </div>

</section>