.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
text-align:center;
position:relative;

font-family: "inter", sans-serif;

background:radial-gradient(circle at center,#0F084B,#0D0221);
color:white;
}

/* LOGO */

.logo{
position:absolute;
top:30px;
left:50%;
transform:translateX(-50%);
}

.logo img{
height:190px;
animation:logoGlow 3s infinite alternate;
}

@keyframes logoGlow{
from{filter:drop-shadow(0 0 5px #00eaff)}
to{filter:drop-shadow(0 0 20px #00eaff)}
}

/* TEXTO */

.content{
z-index:2;
max-width:700px;
}

.content h1{
font-family: "inter", sans-serif;
font-size:56px;
font-weight:600;
letter-spacing:1px;

background:linear-gradient(90deg,#35e4f0,#37e0ec);
-webkit-background-clip:text;
color:transparent;
}

@keyframes titleMove{
from{transform:translateY(-5px)}
to{transform:translateY(5px)}
}

.content p{
font-family: "inter", sans-serif;
font-size:18px;
line-height:1.6;
opacity:.9;
}
/* BOTONES */

.buttons{
display:flex;
gap:20px;
justify-content:center;
}

.btn-main{
background:#44adea;
border:none;
padding:14px 30px;
border-radius:30px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

.btn-main:hover{
transform:scale(1.1);
box-shadow:0 0 20px #3cb1e8;
}

.btn-outline{
background:transparent;
border:2px solid #3bb9f4;
color:#ebf3f5;
padding:14px 30px;
border-radius:30px;
cursor:pointer;
transition:.3s;
}

.btn-outline:hover{
background:#2689cc;
color:black;
}

/* SOL */

.solar-system{
position:absolute;
bottom:-120px;
right:-120px;
width:500px;
height:500px;
}

.sun{
width:180px;
height:180px;
background:radial-gradient(circle,#FFD700,#FF8C00);
border-radius:50%;
position:absolute;
top:160px;
left:160px;

box-shadow:
0 0 80px #FFD700,
0 0 160px #FFA500,
0 0 240px #FF4500;

animation:sunPulse 4s infinite;
}

@keyframes sunPulse{
0%{transform:scale(1)}
50%{transform:scale(1.1)}
100%{transform:scale(1)}
}

/* ANILLOS */

.ring{
position:absolute;
border-radius:50%;
border:2px solid rgba(255,215,0,0.4);
}

.ring1{
width:260px;
height:260px;
top:120px;
left:120px;
animation:rotate 15s linear infinite;
}

.ring2{
width:360px;
height:360px;
top:70px;
left:70px;
animation:rotate 25s linear infinite reverse;
}

.ring3{
width:460px;
height:460px;
top:20px;
left:20px;
animation:rotate 35s linear infinite;
}

@keyframes rotate{
from{transform:rotate(0deg)}
to{transform:rotate(360deg)}
}

/* RAYOS DE ENERGIA */

.energy-line{
position:absolute;
width:3px;
height:120px;
background:linear-gradient(#FFD700,transparent);
top:200px;
left:240px;
transform-origin:top;
}

.line1{animation:energy 4s infinite}
.line2{animation:energy 6s infinite}
.line3{animation:energy 5s infinite}

@keyframes energy{
0%{transform:rotate(0deg) scaleY(0)}
50%{transform:rotate(180deg) scaleY(1)}
100%{transform:rotate(360deg) scaleY(0)}
}

/* PARTICULAS */

.particles span{
position:absolute;
width:6px;
height:6px;
background:white;
border-radius:50%;
opacity:.6;
animation:float 10s infinite;
}

.particles span:nth-child(1){top:20%;left:10%}
.particles span:nth-child(2){top:40%;left:80%}
.particles span:nth-child(3){top:70%;left:20%}
.particles span:nth-child(4){top:60%;left:60%}
.particles span:nth-child(5){top:30%;left:50%}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-30px)}
100%{transform:translateY(0)}
}