.hero {
  background: linear-gradient(135deg, #0D0221, #0F084B, #26408B);
  padding: 80px 10%;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.hero-container{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:40px;
}

.hero-text{
  max-width:550px;
  color:white;
}

.badge{
  background:rgba(255,255,255,0.1);
  padding:8px 15px;
  border-radius:20px;
  font-size:14px;
}

.hero-text h1{
  font-size:48px;
  margin:20px 0;
  font-weight:700;
}

.hero-text h1 span{
  color:#2ED3B7;
}

.hero-text p{
  color:#cfd8dc;
  font-size:18px;
  margin-bottom:30px;
}

.hero-buttons{
  display:flex;
  gap:15px;
}

.btn-primary{
  background:#2ED3B7;
  border:none;
  padding:12px 25px;
  border-radius:30px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.btn-primary:hover{
  background:#21bfa6;
  transform:translateY(-2px);
}

.btn-secondary{
  background:transparent;
  border:2px solid #2ED3B7;
  color:white;
  padding:12px 25px;
  border-radius:30px;
  cursor:pointer;
}

.btn-secondary:hover{
  background:#2ED3B7;
}

.hero-image img{
  width:420px;
  filter: drop-shadow(0px 10px 25px rgba(0,0,0,0.4));
}