<section class="service-homepage">

  <div class="animated-bg"></div>
  <div class="glow-bg"></div>

  <div class="container">

    <div class="titles">
      <h2 class="section-subtitle">NUESTROS SERVICIOS</h2>
      <h1 class="section-title">Lo que ofrecemos</h1>
    </div>

    <div class="services-grid">

      <!-- CARD 1 -->
      <div class="service-card" (mousemove)="onMouseMove($event)">
        <div class="icon">🛠️</div>

        <h3>Mantenimiento Preventivo</h3>
        <p>Cuida tus equipos con revisiones periódicas.</p>

        <ul>
          <li>Revisión completa</li>
          <li>Optimización</li>
          <li>Control temperatura</li>
          <li>Limpieza total</li>
        </ul>

        <a href="#" class="btn">Conoce más</a>
      </div>

      <!-- CARD 2.1 -->
      <div class="service-card center" (mousemove)="onMouseMove($event)">
        <div class="icon">💻</div>

        <h3>Soporte Técnico</h3>
        <p>Asistencia remota y presencial.</p>

        <ul>
          <li>Diagnóstico rápido</li>
          <li>Errores</li>
          <li>Instalación</li>
        </ul>

        <a href="#" class="btn">Conoce más</a>
      </div>

      <!-- CARD 3 -->
      <div class="service-card" (mousemove)="onMouseMove($event)">
        <div class="icon">📡</div>

        <h3>Instalaciones</h3>
        <p>Configuración profesional de redes.</p>

        <ul>
          <li>Redes</li>
          <li>Impresoras</li>
          <li>Asesoría</li>
        </ul>

        <a href="#" class="btn">Conoce más</a>
      </div>

    </div>

  </div>
</section>