<section class="about-home">
  <!-- Fondo animado -->
  <div class="animated-bg"></div>

  <div class="container">
    <h2 class="section-title">¿Energia Solar</h2>
    <div class="content">
      <div class="text">
        <p>
          <strong>SolarFish </strong> es una plataforma especializada en el diseño, cálculo y gestión de sistemas fotovoltaicos para proyectos rurales y empresariales.
        </p>
        <p>
          Con un enfoque en la <strong>eficiencia energética y la sostenibilidad</strong>, eficiencia energética y la sostenibilidad
        </p>
        <p>
          Nuestro equipo combina experiencia técnica e innovación para ofrecer soluciones precisas, escalables y adaptadas a las necesidades reales de cada usuario.
        </p>
      </div>
      <div class="image">
        <img src="/servicioTecnico.jpg" alt="Equipo técnico" />
      </div>
    </div>
  </div>
</section>
