<section class="catalog">

  <!-- HEADER -->
  <div class="catalog-header">
    <h2>Equipos de Energía Solar</h2>
    <p>Optimiza tu consumo con tecnología eficiente</p>
  </div>

  <!-- FILTROS -->
  <div class="filters">
    <button [class.active]="categoriaSeleccionada==='TODOS'" (click)="seleccionarCategoria('TODOS')">TODOS</button>
    <button [class.active]="categoriaSeleccionada==='COMPUTO'" (click)="seleccionarCategoria('COMPUTO')">COMPUTO</button>
    <button [class.active]="categoriaSeleccionada==='IMPRESION'" (click)="seleccionarCategoria('IMPRESION')">IMPRESIÓN</button>
    <button [class.active]="categoriaSeleccionada==='SOLAR'" (click)="seleccionarCategoria('SOLAR')">SOLAR</button>
  </div>

  <!-- GRID -->
  <div class="catalog-grid">

    <div class="card" *ngFor="let equipo of equiposFiltrados">

      <!-- IMAGEN -->
      <div class="image-box">
        <img [src]="equipo.imagen" alt="">
        <div class="glow"></div>
      </div>

      <!-- INFO -->
      <div class="info">

        <h3>{{ equipo.nombre }}</h3>

        <ul>
          <li *ngFor="let c of equipo.caracteristicas">
            ✔ {{ c }}
          </li>
        </ul>

        <div class="bottom">
          <span class="price">${{ equipo.precio }}</span>

          <a [href]="getWhatsAppLink(equipo)" target="_blank">
            <button>Ver detalles</button>
          </a>
        </div>

      </div>

    </div>

  </div>

</section>